<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Everything</key>
	<string>Everything</string>
	<key>Family Friendly</key>
	<array>
		<string>Children</string>
		<string>Movies</string>
		<string>Parks</string>
		<string>Free</string>
	</array>
	<key>Party</key>
	<array>
		<string>Crazy</string>
		<string>Mild</string>
		<string>Chill</string>
	</array>
	<key>Nerdy</key>
	<array>
		<string>Techy</string>
		<string>Electronics</string>
		<string>Fun</string>
	</array>
	<key>Classy</key>
	<array>
		<string>Wealthy</string>
		<string>Hipster</string>
		<string>Crazy</string>
	</array>
	<key>Under 21</key>
	<array>
		<string>Party</string>
		<string>Music</string>
		<string>Meet Up</string>
	</array>
	<key>Indie</key>
	<array>
		<string>Rock</string>
		<string>Metal</string>
		<string>Classical</string>
	</array>
</dict>
</plist>
